/* DROPDOWN: ; */
.d-none {
    display: none;
}
.dropdown-scrollable {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
/* botao de escolher o tema */
.dropdown-scrollable button {
    border-radius: 0;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background: #FFF;
    color: #333;
    padding: 10px 5px;
    font-size: 12px;
    border: 1px solid rgb(169, 169, 169);
    cursor: pointer;
    position: relative;
}
.dropdown-scrollable button i {
    font-size: 15px;
    position: absolute;
    right:0;
    margin-right: 15px;
}
.dropdown-scrollable .dropdown-menu {
    height: auto;
    max-height: 200px;
    min-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    max-width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    background-clip: padding-box;
    color: #333;
    background: #FFF;
    border-bottom: 1px solid rgb(169, 169, 169);
    border-left: 1px solid rgb(169, 169, 169);
    border-right: 1px solid rgb(169, 169, 169);
    box-sizing: border-box;
    display: none;
    z-index: 1;
}
.dropdown-scrollable .dropdown-menu.show {
    display: block;
}

.dropdown-scrollable input.form-control {
    border-radius: 0;
    margin: 10px; 
    width: 93%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ced4da;
}
.dropdown-scrollable .dropdown-menu {
    height: auto;
    max-height: 200px;
    min-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    width: 100%;
}
.dropdown-scrollable .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    font-family: Arial, Verdana, 'Courier New', Courier, monospace;
    font-size: 13px;
}
.dropdown-scrollable .dropdown-menu ul li a {
    display: block;
    color: #939393;
    text-decoration: none;
    padding: 7px 10px;
}
.dropdown-scrollable .dropdown-menu ul li a:hover {
    color: #000;
    background-color: #f8f9fa;
}
